<manifest ...>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <application 
        android:name=".MelodyM3Application"
        ...
        android:usesCleartextTraffic="true"> <service android:name=".service.MelodyM3MediaService"
                 android:exported="true"
                 android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" .../>
    </application>
</manifest>
